body{
	display: block;
    background-color: #EADDCA;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
	margin: 5%;
}


h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 50px;
	color: #5C4033;
}

h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 35px;
	color: #5C4033;
}

h3 {
	text-align: center;
	font-size: 18px;
}

.header-img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

.header-img-caption {
	text-align: center;
	font-size: 12px;
}

.story {
	 max-width: 1000px;
	 margin: 0 auto 10px auto;
    padding: 0 10px;
}



.middle {
	font-size: 22px;
	font-weight: bold;
}

.footer {
    text-align: center;
    font-size: 12px;
    background-color: #f1ece6;
	margin: 0 auto 10px auto;
    padding: 0 10px;
   }

@media(min-width: 681px)	{
	.grid-area {
		display:  flex;
}

}


